[package]
name = "lingua-wasm"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
lingua = { path = "../lingua-rs", default-features = false, features = ["german", "english", "french", "italian", "without-rayon"] }
